.modal-form__new-transaction {
    position: absolute;
    width: fit-content;
    z-index: 100;
    background-color: black;
    padding: 24px;
    display: flex;
    gap: 40px;
    align-items: center;
    bottom: 40px;
    
    left: 40%;
    right: 0;
    input, option {
        color: black;
    }
}


select, option {
    color: black;
}